{% extends 'mainApp/wrapper.html' %}

{% load staticfiles %}

{% block content %}

<div class="aboutpage container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">О нас</h1>
		</div>
	</div>
	<div class="row">
		<div class="about_text col-12">
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor consectetur, voluptatibus enim cum atque dignissimos, voluptates, nobis soluta velit facere distinctio nam! Dicta consectetur est consequuntur illo obcaecati, deleniti atque ipsa, totam sapiente amet quis consequatur aut at iste perspiciatis reiciendis rem. Provident nesciunt omnis quod tempora cumque possimus fugit, porro illum error. Ducimus quos, soluta sunt qui eligendi ad perferendis labore vel, eaque laborum sapiente, quia ea ipsum. Eveniet modi earum quia tempora molestiae aliquid cumque laborum cum ut alias iste facere eum in nemo esse consequuntur tempore iusto accusamus, saepe itaque, recusandae ab, vitae quasi? Deserunt, recusandae, facilis.</p>
		</div>
		<div class="col-8 offset-2">
			<div class="about_slider fotorama" data-width="100%" data-ratio="1920/1080" data-loop="true" data-nav="false" data-autoplay="true">
				<img src="{% static 'img/about_slider/01.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/02.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/03.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/04.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/05.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/06.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/07.jpg' %}" alt="">
				<img src="{% static 'img/about_slider/08.jpg' %}" alt="">
			</div>
		</div>
		<div class="about_text col-12">
			<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor consectetur, voluptatibus enim cum atque dignissimos, voluptates, nobis soluta velit facere distinctio nam! Dicta consectetur est consequuntur illo obcaecati, deleniti atque ipsa, totam sapiente amet quis consequatur aut at iste perspiciatis reiciendis rem. Provident nesciunt omnis quod tempora cumque possimus fugit, porro illum error. Ducimus quos, soluta sunt qui eligendi ad perferendis labore vel, eaque laborum sapiente, quia ea ipsum. Eveniet modi earum quia tempora molestiae aliquid cumque laborum cum ut alias iste facere eum in nemo esse consequuntur tempore iusto accusamus, saepe itaque, recusandae ab, vitae quasi? Deserunt, recusandae, facilis.</p>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="map row">
		<div class="col-10 offset-1">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09602d6f36d06799dc1882cf7cb2d7c7f8ace6c16a990d04efcfca0c06bcf533&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
		</div>
	</div>
	<div class="contacts row">
		<div class="adress col-5 offset-1">
			<p><span>Наш адрес</span></p>
			<p><i>Метро "Сенная Площадь" Московский пр., 3, ТЦ "Адмиралтейский", 4 Этаж, Санкт-Петербург, Россия, 190068</i></p>
			<p><span>Номер телефона</span></p>
			<p><i>+7 (911) 739-78-19</i></p>
			<p><i>+7 (981) 863-17-99</i></p>
		</div>
		<div class="links col-5">
			<div class="row justify-content-center">
				<p><span>Мы в соцсетях</span></p>
			</div>
			<div class="row justify-content-center">
				<div class="col-5 offset-1">
					<a href="https://vk.com/mr_chekmak">
						<img src="{% static 'img/vk100x100.png' %}" alt="Мы в ВК">
					</a>
				</div>
				<div class="col-5">
					<a href="https://www.instagram.com/home_service78">
						<img src="{% static 'img/inst100x100.png' %}" alt="Мы в Instagram">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}