{% extends 'mainApp/wrapper.html' %}


{% block content %}

{% load staticfiles %}

<div class="map row">
	<div class="col-10 offset-1">
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09602d6f36d06799dc1882cf7cb2d7c7f8ace6c16a990d04efcfca0c06bcf533&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
	</div>
</div>
<div class="contacts row">
	<div class="adress col-5 offset-1">
		<p><span>Наш адрес</span></p>
		<p><i>Метро "Сенная Площадь" Московский пр., 3, ТЦ "Адмиралтейский", 4 Этаж, Санкт-Петербург, Россия, 190068</i></p>
		<p><span>Номер телефона</span></p>
		<p><i>+7 (911) 739-78-19</i></p>
		<p><i>+7 (981) 863-17-99</i></p>
	</div>
	<div class="links col-5">
		<div class="row justify-content-center">
			<p><span>Мы в соцсетях</span></p>
		</div>
		<div class="row justify-content-center">
			<div class="col-5 offset-1">
				<a href="https://vk.com/mr_chekmak">
					<img src="{% static 'img/vk100x100.png' %}" alt="Мы в ВК">
				</a>
			</div>
			<div class="col-5">
				<a href="https://www.instagram.com/home_service78">
					<img src="{% static 'img/inst100x100.png' %}" alt="Мы в Instagram">
				</a>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}