.header {
  background-color: #90001F;
}
.header .title h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.header .phone p {
  display: block;
  margin: auto;
  float: right;
  font-size: 1.1rem;
  color: white;
}
.menu a {
  display: block;
  height: 100%;
  padding: 1% 0;
  transition: all 0.2s;
  color: black;
  font-weight: 600;
}
.menu a div p {
  display: block;
  margin: auto 14px;
}
.menu a:hover {
  background-color: #006748;
  text-decoration: none;
  color: white;
}
.firstwindow {
  height: 800px;
  background: url(../img/bg1.jpg) center center no-repeat;
  background-size: cover;
}
.order {
  margin-top: 10%;
  height: 350px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.order span {
  display: block;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  font-size: 1.5rem;
}
.order label {
  font-weight: 600;
}
.order input {
  margin-bottom: 20px;
}
.order button {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-weight: 600;
  background-color: #006748;
  border: none;
}
.order button:hover {
  background-color: #2DB38A;
}
.secondwindow {
  background-color: #2DB38A;
}
.secondwindow .secwinheader {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 5%;
}
.features {
  text-align: center;
  background-color: #2DB38A;
  margin-top: -3px;
}
.features img {
  display: block;
  margin: 15% auto;
  height: 30%;
  padding: 10%;
  border: 3px solid white;
  border-radius: 10%;
}
.features .feature1,
.features .feature2,
.features .feature3,
.features .feature4 {
  transition: all 0.2s;
}
.features .feature1:hover {
  transform: scale(1.2);
}
.features .feature2:hover {
  transform: scale(1.2);
}
.features .feature3:hover {
  transform: scale(1.2);
}
.features .feature4:hover {
  transform: scale(1.2);
}
.features span {
  font-size: 2rem;
  color: white;
  margin-bottom: 10%;
}
.thirdwindow .twheader {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 600;
  margin-top: 15%;
}
.firststep,
.secondstep,
.thirdstep,
.fourthstep {
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
}
.inside {
  padding: 5%;
  border: 3px solid white;
  border-radius: 10px;
  transition: all 0.3s;
}
.inside img {
  height: 100px;
}
.inside:hover {
  border: 3px solid #CD6933;
  border-radius: 10px;
}
.step {
  font-weight: 600;
  font-size: 2rem;
}
.description {
  color: gray;
  font-size: 1.5rem;
}
.fourthwindow {
  background-color: #2DB38A;
}
.fourthwindow .fwheader {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}
.reviews {
  background-color: #2DB38A;
  margin-top: -1%;
}
.reviews .fotorama {
  background-color: white;
  margin-bottom: 5%;
  height: 60%;
  padding: 3%;
  border-radius: 30px;
}
.reviews .fotorama .review {
  height: 100%;
}
.reviews .fotorama .review img {
  display: inline-block;
  width: 100%;
  border-radius: 100%;
}
.reviews .fotorama .review p {
  display: inline-block;
  padding-top: 5%;
  font-size: 1.3rem;
  font-weight: 600;
}
.reviews .fotorama .review span {
  display: block;
  float: right;
  font-size: 1.3rem;
}
.fifthwindow .ffwheader {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 1%;
}
.contacts {
  margin-bottom: 3%;
}
.contacts p {
  margin-top: 3%;
  font-size: 1.5rem;
  color: gray;
}
.contacts p span {
  display: block;
  color: black;
  margin-bottom: -3%;
  font-size: 2rem;
  font-weight: 600;
}
.footer {
  background-color: #90001F;
  text-align: center;
}
.footer p {
  display: block;
  margin-top: 2%;
  color: white;
}
/* Для страниц брендов */
.brands_title {
  margin: 30px 0;
}
.brands_brand {
  margin-bottom: 15px;
  padding: 15px;
}
.brands_brand a {
  display: block;
  padding: 15px;
  border: 2px solid #696969;
  border-radius: 10px;
  color: black;
  transition: all 0.5s;
}
.brands_brand a:hover {
  text-decoration: none;
  background-color: #2DB38A;
}
.brands_brand img {
  margin-bottom: 20px;
}
/* Для страниц брендов */
/*# sourceMappingURL=style.css.map */