{% extends "mainApp/wrapper.html" %}

{% block content %}
	{% load staticfiles %}
	<div class="container">
		<div class="brands_title row">
			<div class="col-12">
				<h1 class="text-center">Выберите бренд</h1>
			</div>
		</div>
		<div class="row">
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Canon.png' %}" alt="Canon">
					<h5 class="text-center">Canon</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Nikon.png' %}" alt="Nikon">
					<h5 class="text-center">Nikon</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Sony.png' %}" alt="Sony">
					<h5 class="text-center">Sony</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Samsung.png' %}" alt="Samsung">
					<h5 class="text-center">Samsung</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Pentax.png' %}" alt="Pentax">
					<h5 class="text-center">Pentax</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Polaroid.png' %}" alt="Polaroid">
					<h5 class="text-center">Polaroid</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Blackmagic.png' %}" alt="Blackmagic">
					<h5 class="text-center">Blackmagic</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Sigma.png' %}" alt="Sigma">
					<h5 class="text-center">Sigma</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Tamron.png' %}" alt="Tamron">
					<h5 class="text-center">Tamron</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Hasselblad.png' %}" alt="Hasselblad">
					<h5 class="text-center">Hasselblad</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Fujifilm.png' %}" alt="Fujifilm">
					<h5 class="text-center">Fujifilm</h5>
				</a>
			</div>
			<div class="brands_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Olympus.png' %}" alt="Olympus">
					<h5 class="text-center">Olympus</h5>
				</a>
			</div>
		</div>
	</div>

{% endblock %}