body {
	font-family: sans-serif;
}
.top {
	background-color: #90001F;
}
.logo {
	height: 120px;
	background: url(../img/logo.png) center center no-repeat;
	background-size: cover;
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}
.headertitle {
	display: block;
	margin: auto auto;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.9rem;
}
.contacts {
	text-align: right;
	img {
		display: inline-block;
		height: 50px;
		width: 50px;
		margin-top: 30px;
	}
	span {
		display: inline-block;
		margin-top: 15px;
		color: white;
		font-size: 1.5rem;
	}
}
.menu {
	height: 50px;
	div {
		height: 100%;
		transition: all 0.2s;
	}
	div:hover {
		background-color: #006748;
		text-decoration: none;
		a {
			color: white;
		}
	}
	a {
		display: inline-block;
		color: black;
		margin: 14px;
		transition: all 0.2s;
		font-weight: bold;
	}
	a:hover {
		text-decoration: none;
	}
}
.firstwindow {
	height: 700px;
	background: url(../img/bg1.jpg) center center no-repeat;
	background-size: cover;
}
.order {
	margin-top: 10%;
	height: 350px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.7);
	span {
		display: block;
		text-align: center;
		font-weight: 600;
		margin-top: 40px;
		font-size: 1.5rem;
	}
	label {
		font-weight: 600;
	}
	input {
		margin-bottom: 20px;
	}
	button {
		display: block;
		margin: 0 auto;
		width: 150px;
		font-weight: 600;
	}
}