body {
	font-family: sans-serif;
}
.top {
	background-color: #90001F;
	height: 100px;
}
.logo {
	// background: url(../img/logo.png) center center no-repeat;
	// background-size: cover;
	// background-clip: border-box;
	a {
		display: block;
		width: 100%;
		height: 100%;
		img {
			display: block;
		}
	}
}
.headertitle {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 1.7rem;
}
.contacts {
	.row {
		height: 100%;
		width: 100%;
	}
	.phoneimg {
		height: 100%;
		width: 100%;
	}
	.phonenumber {
		text-align: left;
		margin: auto auto;
		height: 100%;
		width: 100%;
		color: white;
		font-size: 1.2rem;
	}
}
.menu {
	height: 50px;
	div {
		height: 100%;
		transition: all 0.2s;
	}
	div:hover {
		background-color: #006748;
		text-decoration: none;
		a {
			color: white;
		}
	}
	a {
		display: inline-block;
		color: black;
		margin: 14px;
		transition: all 0.2s;
		font-weight: bold;
	}
	a:hover {
		text-decoration: none;
	}
}
.firstwindow {
	height: 700px;
	background: url(../img/bg1.jpg) center center no-repeat;
	background-size: cover;
}
.order {
	margin-top: 10%;
	height: 350px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.7);
	span {
		display: block;
		text-align: center;
		font-weight: 600;
		margin-top: 40px;
		font-size: 1.5rem;
	}
	label {
		font-weight: 600;
	}
	input {
		margin-bottom: 20px;
	}
	button {
		display: block;
		margin: 0 auto;
		width: 150px;
		font-weight: 600;
		background-color: #006748;
		border: none;
	}
	button:hover {
		background-color: #2DB38A;
	}
}
.secondwindow {
	height: 700px;
	background-color: #2DB38A;
	.secwinheader {
		text-align: center;
		font-size: 3rem;
		color: white;
		font-weight: 600;
		margin-top: 10%;
	}
	.features {
		text-align: center;
		background-color: #2DB38A;
		img {
			margin-top: 20%;
			margin-bottom: 20%;
			height: 30%;
			padding: 10%;
			border: 3px solid white;
			border-radius: 10%;
		}
		.feature1, .feature2, .feature3, .feature4 {
				transition: all 0.2s;
			}
		.feature1:hover {
			height: 35%;
		}
		.feature2:hover {
			height: 35%;
		}
		.feature3:hover {
			height: 35%;
		}
		.feature4:hover {
			height: 35%;
		}
		span {
			font-size: 2rem;
			color: white;
		}
	}
}