{% extends "mainApp/wrapper.html" %}

{% block content %}
	{% load staticfiles %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">{{ object.brand }} {{ object.name }}</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="modelimg">
					<img src="{{ object.img.url }}" alt="{{ object.brand }} {{ object.name }}">
				</div>
			</div>
			<div class="col-6 justify-content-center">
				<h2 class="servtitle text-center">Выберите услугу</h2>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal1"><h5 class="text-center">{{ object.serv1 }} - {{ object.price1 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal1'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal1" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal1" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal2"><h5 class="text-center">{{ object.serv2 }} - {{ object.price2 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal2'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal2" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal2" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal3"><h5 class="text-center">{{ object.serv3 }} - {{ object.price3 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal3'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal3" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal3" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal4"><h5 class="text-center">{{ object.serv4 }} - {{ object.price4 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal4'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal4" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal4" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal5"><h5 class="text-center">{{ object.serv5 }} - {{ object.price5 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal5'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal5" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal5" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal6"><h5 class="text-center">{{ object.serv6 }} - {{ object.price6 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal6'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal6" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal6" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal7"><h5 class="text-center">{{ object.serv7 }} - {{ object.price7 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal7'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal7" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal7" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal8"><h5 class="text-center">{{ object.serv8 }} - {{ object.price8 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal8'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal8" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal8" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal9"><h5 class="text-center">{{ object.serv9 }} - {{ object.price9 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal9'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal9" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal9" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
				<a href="#" class='serv open-modal_modal' data-modal_modal="#modal_modal10"><h5 class="text-center">{{ object.serv10 }} - {{ object.price10 }} руб.</h5></a>
				<div class='modal_modal' id='modal_modal10'>
					<div class='content'>
						<form action="#">
							<h1 class='title'>Введите имя и номер телефона</h1>
							<input type="text" class="form-control" placeholder="Имя">
							<input type="text" class="form-control" placeholder="Номер телефона">
							<a class='serv-confirm close-modal_modal' data-modal_modal="#modal_modal10" href="#"><h5>Заказать</h5></a>
							<a class='serv-cancel close-modal_modal' data-modal_modal="#modal_modal10" href="#"><h5>Отменить</h5></a>
						</form>
					</div>	
				</div>
			</div>
		</div>
	</div>




{% endblock %}