{% extends "mainApp/wrapper.html" %}

{% block content %}
	{% load staticfiles %}
	<div class="container">
		<div class="phones_title row">
			<div class="col-12">
				<h1 class="text-center">Выберите бренд</h1>
			</div>
		</div>
		<div class="row">
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Apple.png' %}" alt="Apple">
					<h5 class="text-center">Apple</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Xiaomi.png' %}" alt="Xiaomi">
					<h5 class="text-center">Xiaomi</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Samsung.png' %}" alt="Samsung">
					<h5 class="text-center">Samsung</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Huawei.png' %}" alt="Huawei">
					<h5 class="text-center">Huawei</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Google.png' %}" alt="Google">
					<h5 class="text-center">Google</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Nokia.png' %}" alt="Nokia">
					<h5 class="text-center">Nokia</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Sony.png' %}" alt="Sony">
					<h5 class="text-center">Sony</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Meizu.png' %}" alt="Meizu">
					<h5 class="text-center">Meizu</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Asus.png' %}" alt="Asus">
					<h5 class="text-center">Asus</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/HTC.png' %}" alt="HTC">
					<h5 class="text-center">HTC</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Lenovo.png' %}" alt="Lenovo">
					<h5 class="text-center">Lenovo</h5>
				</a>
			</div>
			<div class="phones_brand col-xl-3 col-lg-4 col-sm-6 col-12 text-center">
				<a href="#">
					<img src="{% static 'img/brands/Oneplus.png' %}" alt="Oneplus">
					<h5 class="text-center">Oneplus</h5>
				</a>
			</div>
		</div>
	</div>

{% endblock %}