@import "bootstrap.css";
@import "font-awesome.css";
@import "courgette.css";
@import "fotorama.css";
@import "modal.css";
header .logo {
  display: block;
  width: fit-content;
  margin: 0 auto 30px auto;
}
header .logo__img {
  height: 50px;
}
header .phone {
  display: block;
  margin: -8px auto 0 auto;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  transition: all 0.3s;
}
header .phone:hover {
  text-decoration: none;
  transform: scale(1.1) translate(0, 5px);
}
header .worktime {
  text-align: center;
}
header .callback {
  width: fit-content;
  margin: 0 auto 0 auto;
}
header .callback__button {
  padding: 10px 20px;
  background-color: #ED9121;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
}
header .callback__button:hover {
  text-decoration: none;
  background-color: #68952D;
  color: #FFFFFF;
}
header .callback__social-wrapper {
  margin: 10px 0;
}
header .callback__social-item {
  margin: 0 10px;
  color: #555555;
  font-size: 1.5rem;
}
header .callback__social-item:hover {
  color: #68952D;
  text-decoration: none;
}
.menu {
  background-color: #68952D;
}
.menu__wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.menu__nav {
  width: fit-content;
  margin: 0 auto;
}
.menu__ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: content-box;
}
.menu__li {
  list-style-type: none;
  display: inline-block;
}
.menu__item {
  display: block;
  color: #FFFFFF;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}
.menu__item:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #9CCA60;
}
@media (min-width: 576px) {
  header .logo {
    margin: 0 auto 30px auto;
  }
  header .phone {
    margin: -8px auto 0 0;
  }
  header .worktime {
    text-align: left;
  }
  header .callback {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 768px) {
  header .logo {
    margin: 0 auto 0 0;
  }
  header .logo__img {
    height: 40px;
  }
  header .phone {
    margin: -8px auto 0 auto;
  }
  header .worktime {
    text-align: center;
  }
}
@media (min-width: 992px) {
  header .logo__img {
    height: 50px;
  }
}
.about {
  background: url("../../../img/about-bg-sm.jpg") scroll center;
  background-size: cover;
}
.about__wrapper {
  background-color: #FFFFFF88;
  border-radius: 10px;
  padding: 15px 0;
}
.about__desc {
  line-height: 30px;
  font-weight: 600;
}
.about__feature {
  margin: 10px auto 30px auto;
}
.about__feature::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #68952D;
  transform: scaleX(0);
  transition: all 0.3s;
}
.about__feature:hover::after {
  transform: scaleX(1);
}
.about__feature-img {
  display: block;
  height: 50px;
  margin: 0 auto 0 auto;
}
.about__feature-desc {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}
.about__button {
  display: block;
  width: fit-content;
  margin: 20px auto 0 auto;
  color: #FFFFFF;
  background-color: #000000;
  font-weight: 600;
  transition: all 0.3s;
}
.about__button:hover {
  text-decoration: none;
  background-color: #68952D;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  .about__feature-desc {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) {
  .about {
    background: url("../../../img/about-bg.jpg") fixed center;
  }
}
.quiz {
  background-color: #68952D;
}
.quiz__input {
  display: none;
}
.quiz__input:checked + .quiz__label {
  background-color: #FFFFFF;
  color: #68952D;
}
.quiz__label {
  display: block;
  max-width: 250px;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 10px 0;
  color: #FFFFFF;
  font-size: 1rem;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: center;
}
.quiz__label:hover {
  transform: scale(1.03);
}
.quiz__item {
  margin: 0;
}
@media (min-width: 576px) {
  .quiz__label {
    font-size: 1.5rem;
    max-width: none;
    width: 370px;
  }
}
.partners {
  background-color: #333333;
}
.partners__desc {
  color: #FFFFFF;
  margin: 0 auto 70px auto;
  text-align: center;
}
.partners__img {
  display: block;
  height: 70px;
  margin: 0 auto 30px auto;
  opacity: 0.25;
}
.partners__img:hover {
  opacity: 1;
}
@media (min-width: 576px) {
  .partners__desc {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .partners__desc {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .partners__desc {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .partners__desc {
    max-width: 1140px;
  }
}
.title {
  margin-bottom: 30px;
}
.title_black {
  color: #000000;
}
.title_white {
  color: #FFFFFF;
}
.window {
  padding-top: 30px;
  padding-bottom: 30px;
}
.window_small {
  padding-top: 70px;
  padding-bottom: 70px;
}
footer p {
  color: #999;
  line-height: 25px;
}
footer h2,
footer h3 {
  color: #fff;
}
footer h2 {
  font-size: 18px;
}
footer .footer-top {
  background: #111;
  padding: 80px 0;
}
footer .segment-one h3 {
  font-family: 'Courgette', cursive;
  color: #fff;
  letter-spacing: 1.2px;
  margin: 0 0 10px 0;
}
footer .segment-two h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-two h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
footer .segment-two ul li a {
  color: #999;
  text-decoration: none;
}
footer .segment-three h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-three .phone {
  margin-top: 10px;
}
footer .segment-three h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.3s;
}
footer .segment-three a:hover {
  background-color: #68952D;
}
footer .segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 10px;
}
footer .segment-four h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
footer .segment-four h2:before {
  content: "|";
  color: #68952D;
  padding-right: 10px;
}
footer .segment-four form input[type=submit] {
  background: #68952D;
  border: none;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
footer .footer-bottom-text {
  padding: 10px 0;
  text-align: center;
  background: #000;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .md-md-30 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  footer .sm-mb-30 {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  footer .footer-top {
    padding: 50px;
  }
}
.footer_link:hover {
  color: #9CCA60;
}
.tw {
  padding: 30px 0;
}
.tw .ft__slide .ft__img {
  margin-left: 50px;
  max-width: 780px;
}
.tw .ft__slide .ft__img_1234 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.tw .ft__slide .ft__img_56 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.tw .ft__slide .ft__img_123 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.tw .ft__slide .ft__img_1,
.tw .ft__slide .ft__img_2,
.tw .ft__slide .ft__img_3 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0 5px 5px 5px;
}
.tw .ft__slide .ft__img_1:hover,
.tw .ft__slide .ft__img_2:hover,
.tw .ft__slide .ft__img_3:hover {
  cursor: pointer;
}
.tw .ft__slide .ft__img_4 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 5px 5px 0 5px;
}
.tw .ft__slide .ft__img_5,
.tw .ft__slide .ft__img_6 {
  width: 102%;
  height: 100%;
  border-radius: 10px;
  padding: 0 5px;
}
.tw .ft__slide .ft__img_5:hover,
.tw .ft__slide .ft__img_6:hover {
  cursor: pointer;
}
.tw .ft__slide_title {
  font-size: 1.5rem;
  font-weight: 600;
}
.tw .ft__slide_mats p {
  display: block;
  width: fit-content;
  margin-left: 80px;
  margin-right: 60px;
  margin-bottom: 0;
  padding-bottom: 10px;
  transition: all 0.3s;
}
.tw .ft__slide_mats p::before {
  content: '';
  margin-left: 50px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background-position: center;
  background-size: cover;
}
.tw .ft__slide_mats p::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #68952D;
  transition: all 0.3s;
}
.tw .ft__slide_mats p:hover::after {
  width: 100%;
}
.tw .ft__slide_mats p span {
  font-weight: 600;
}
.tw .ft__slide_mats .mats__object::before {
  background: url("../img/home.png") center no-repeat;
  background-size: contain;
}
.tw .ft__slide_mats .mats__address::before {
  background: url("../img/geo.png") center no-repeat;
  background-size: contain;
}
.tw .ft__slide_mats .mats__date::before {
  background: url("../img/calendar.png") center no-repeat;
  background-size: contain;
}
.tw .ft__slide_mats .mats__task::before {
  background: url("../img/pencil.png") center no-repeat;
  background-size: contain;
}
.tw .ft__slide_mats .mats__jobs::before {
  background: url("../img/check.png") center no-repeat;
  background-size: contain;
}
.tw .ft__slide_mats .mats__price::before {
  background: url("../img/money.png") center no-repeat;
  background-size: contain;
}
.tw .tw_button__catandprice {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #68952D;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s;
}
.tw .tw_button__catandprice:hover {
  text-decoration: none;
  background-color: #3D610F;
  color: #FFFFFF;
}
.frw {
  background: url("../img/bg02-min.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.frw__inputs {
  margin: 0 auto 10px auto;
  width: 50%;
}
.frw p {
  text-align: center;
}
.frw .frw_submit {
  display: block;
  width: fit-content;
  padding: 5px 30px;
  margin: 20px auto;
  background-color: #68952D;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}
.frw .frw_submit:hover {
  background-color: #3D610F;
}
.modal_modal h1 {
  margin-bottom: 20px;
}
.modal_modal .mod_inputs {
  width: 70%;
  margin: 10px auto;
  width: 100%;
  max-width: 400px;
}
.modal_modal .mod_btn {
  display: inline-block;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.modal_modal .mod_btn:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.modal_modal .button_send {
  margin: 40px 40px 0 0;
  background-color: #68952D;
}
.modal_modal .button_send:hover {
  background-color: #3D610F;
}
.modal_modal .button_cancel {
  background-color: #555555;
}
.modal_modal .button_cancel:hover {
  background-color: #333333;
}
.hidden {
  display: none;
  transition: all 0.3s;
}
.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx {
  background: url(../img/window.jpg);
  width: 50%;
  background-size: cover;
  background-position: center;
}
/* Услуги */
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;
}
.services h2 {
  margin-right: auto;
  margin-left: auto;
}
.services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx {
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .container .serviceBx img {
  max-width: 100px;
}
.services .container .serviceBx h2 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.technology {
  background: #3f8ffc;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology .contentBx {
  max-width: 800px;
}
.technology .imgBx {
  max-width: 250px;
}
.technology .imgBx img {
  max-width: 100%;
}
/* Партнеры
.partners {
  background-color: @gray-dark;
  padding-top: 70px;
  padding-bottom: 70px;
  color: @white;

  &__text {
    width: 70%;
    margin: 10px auto 70px auto;
  }

  &__img {
    height: 70px;
    margin: 0 30px;
    opacity: 0.25;

    &:hover {
      opacity: 1;
    }
  }
}
*/
.reviews {
  background-color: #68952D;
  padding-top: 70px;
  padding-bottom: 70px;
}
.reviews .fotorama__arr--next {
  background: url("../img/door_next_white.png") center;
  background-size: cover;
}
.reviews .fotorama__arr--prev {
  background: url("../img/door_prev_white.png") center;
  background-size: cover;
}
.reviews__review {
  background-color: #fff;
  height: 100%;
  width: 500px;
  margin: 0 auto;
  padding: 20px 50px;
}
.reviews .review__img {
  height: 150px;
  border-radius: 100%;
  float: left;
}
.reviews .review__name {
  text-align: right;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: -10px;
  color: #68952D;
}
.reviews .review__city {
  margin-top: -15px;
  text-align: right;
  font-size: 1.1rem;
}
.reviews .review__text {
  float: right;
  margin-top: 10px;
  text-align: left;
  width: 230px;
}
.reviews__btn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 30px;
  width: fit-content;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 10px;
  transition: all 0.3s;
}
.reviews__btn:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #333333;
}
/* Контакты */
.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}
.imgBx2 {
  background: url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
}
.redbg {
  background: url(../img/red.jpg) !important;
  background-size: cover;
  background-position: center;
}
.form .inputBx {
  margin-bottom: 40px;
}
.form .inputBx input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder {
  color: #fff;
}
.form .inputBx textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  min-height: 150px;
  border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder {
  color: #fff;
}
.form .inputBx input[type="submit"] {
  width: 150px;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-weight: 400;
}
@media (max-width: 991px) {
  .banner {
    padding: 50px;
  }
  .banner header {
    padding: 20px 50px;
  }
  .banner .content h2 {
    font-size: 36px;
  }
  .banner .content p {
    font-size: 16px;
  }
  .about {
    flex-direction: column;
  }
  .about .contentBx,
  .about .imdBx {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  .services {
    padding: 50px;
  }
  .services .container {
    justify-content: center;
    margin-top: 20px;
  }
  .services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
  .technology {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx {
    margin-top: 40px;
    max-width: 250px;
  }
  .client {
    padding: 50px;
  }
  .client .imgBx {
    justify-content: center;
  }
  .testimonials {
    padding: 50px;
  }
  .testimonials .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .contentBx:last-child {
    margin-bottom: 0px;
  }
  .contact {
    padding: 50px;
  }
}
.image1-fullscreen,
.image2-fullscreen,
.image3-fullscreen,
.image5-fullscreen,
.image6-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  display: flex;
  transition: all 0.5s;
}
.image1-fullscreen_img,
.image2-fullscreen_img,
.image3-fullscreen_img,
.image5-fullscreen_img,
.image6-fullscreen_img {
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2000px #000A;
}
.image4-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  display: flex;
  transition: all 0.5s;
}
.image4-fullscreen_img {
  width: 90%;
  border-radius: 50px;
  box-shadow: 0px 0px 0px 2000px #000A;
}
.image-fullscreen_close {
  display: block;
  position: absolute;
  top: 20px;
  right: 40px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  transition: all 0.3s;
}
.image-fullscreen_close:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.hidden {
  display: none;
}
.notrans {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */