@import "bootstrap.css";
@import "fotorama.css";
header .header {
  padding-top: 10px;
  padding-bottom: 10px;
}
header .header .top__logo img {
  height: 100px;
}
header .header .top__buttons a {
  display: block;
  width: 200px;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #68952D;
  transition: all 0.3s;
}
header .header .top__buttons a:hover {
  text-decoration: none;
}
header .header .top__buttons_callback {
  background-color: #FFFFFF;
  color: #68952D;
}
header .header .top__buttons_callback:hover {
  background-color: #A36D31;
  color: #FFFFFF;
  border-color: #A36D31;
}
header .header .top__buttons_catalog {
  background-color: #68952D;
  color: #FFFFFF;
  border: 2px solid #68952D;
}
header .header .top__buttons_catalog:hover {
  background-color: #A36D31;
  border-color: #A36D31;
}
header .header .top__phone {
  padding-top: 20px;
}
header .header .top__phone p {
  margin: 0;
}
header .header .top__phone_number {
  font-weight: 600;
  font-size: 1.2rem;
}
header .header .top__phone a {
  margin: 10px;
}
header .header .top__phone a:hover {
  text-decoration: none;
}
header .header .top__phone img {
  height: 20px;
}
header .menu {
  background-color: #68952D;
}
header .menu__aligner {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
header .menu ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  box-sizing: content-box;
}
header .menu ul li {
  list-style-type: none;
  display: inline-block;
}
header .menu ul li a {
  display: block;
  color: #FFFFFF;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}
header .menu ul li a:hover {
  text-decoration: none;
  background-color: #9CCA60;
}
footer {
  padding: 30px 0 0 0;
}
footer .cont_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #68952D;
  margin-bottom: 5px;
}
footer img {
  display: block;
  height: 250px;
  margin: 0 auto;
}
footer .disclaimer {
  margin-top: 30px;
  padding-top: 15px;
  background-color: #68952D;
  color: #FFFFFF;
}
.fw {
  background: url("../img/bg01-min.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.fw .fw_title {
  margin: 0 0 30px 0;
  color: #FFFFFF;
}
.fw .fw_feature {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  padding: 50px 0;
  background-color: #FFFFFFAA;
  border-radius: 30px;
  transition: all 0.3s;
}
.fw .fw_feature:hover {
  transform: scale(1.1);
}
.fw .fw_feature img {
  display: block;
  margin: 0 auto;
  height: 50px;
}
.fw .fw_feature p {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #333333;
}
.fw .fw_feature p span {
  font-size: 2.5rem;
  color: #A36D31;
}
.fw .fw_feature__ind {
  width: 400px;
  height: 200px;
  margin: 20px auto;
  padding: 50px 0;
  background-color: #FFFFFFAA;
  border-radius: 30px;
  transition: all 0.3s;
  padding: 30px 0;
}
.fw .fw_feature__ind:hover {
  transform: scale(1.1);
}
.fw .fw_feature__ind img {
  display: block;
  margin: 0 auto;
  height: 50px;
}
.fw .fw_feature__ind p {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #333333;
}
.fw .fw_feature__ind p span {
  font-size: 2.5rem;
  color: #A36D31;
}
.sw {
  padding: 30px 0;
}
.sw h1 {
  margin: 20px 0;
}
.sw .sw_button__catandprice {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #68952D;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s;
}
.sw .sw_button__catandprice:hover {
  text-decoration: none;
  background-color: #3D610F;
  color: #FFFFFF;
}
.tw {
  padding: 30px 0;
}
.tw .ft__slide img {
  height: 500px;
  display: block;
  margin: 10px auto;
}
.tw .ft__slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 200px;
  left: 10%;
  height: 100px;
  width: 100px;
  background: url("../img/door-min.png");
  background-size: cover;
}
.tw .ft__slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 200px;
  right: 10%;
  height: 100px;
  width: 100px;
  background: url("../img/door-min.png");
  background-size: cover;
}
.tw .ft__slide p {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.tw .tw_button__catandprice {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #A36D31;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.3s;
}
.tw .tw_button__catandprice:hover {
  text-decoration: none;
  background-color: #6A3F10;
  color: #FFFFFF;
}
.frw {
  background: url("../img/bg02-min.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}
.frw h1 {
  margin-bottom: 30px;
}
.frw input {
  margin: 0 auto 10px auto;
  width: 50%;
}
.frw .frw_submit {
  display: block;
  width: fit-content;
  padding: 5px 30px;
  margin: 20px auto;
  background-color: #68952D;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
}
.frw .frw_submit:hover {
  background-color: #3D610F;
}
/*# sourceMappingURL=style.css.map */