.header {
  background-color: #90001F;
}
.header .title h1 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.header .phone p {
  display: block;
  margin: auto;
  float: right;
  font-size: 1.1rem;
  color: white;
}
.menu a {
  display: block;
  height: 100%;
  padding: 1% 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: black;
  font-weight: 600;
}
.menu a div p {
  display: block;
  margin: auto 14px;
}
.menu a:hover {
  background-color: #006748;
  text-decoration: none;
  color: white;
}
.firstwindow {
  height: 800px;
  background: url(../img/bg1.jpg) center center no-repeat;
  background-size: cover;
}
.order {
  margin-top: 10%;
  height: 350px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}
.order span {
  display: block;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;
  font-size: 1.5rem;
}
.order label {
  font-weight: 600;
}
.order input {
  margin-bottom: 20px;
}
.order button {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-weight: 600;
  background-color: #006748;
  border: none;
}
.order button:hover {
  background-color: #2DB38A;
}
.secondwindow {
  background-color: #2DB38A;
}
.secondwindow .secwinheader {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin-top: 10%;
  margin-bottom: 5%;
}
.features {
  text-align: center;
  background-color: #2DB38A;
  margin-top: -3px;
}
.features img {
  display: block;
  margin: 15% auto;
  height: 30%;
  padding: 10%;
  border: 3px solid white;
  border-radius: 10%;
}
.features .feature1,
.features .feature2,
.features .feature3,
.features .feature4 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.features .feature1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.features .feature2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.features .feature3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.features .feature4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.features span {
  font-size: 2rem;
  color: white;
  margin-bottom: 10%;
}
.thirdwindow .twheader {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 600;
  margin-top: 15%;
}
.firststep,
.secondstep,
.thirdstep,
.fourthstep {
  margin-top: 5%;
  margin-bottom: 15%;
  text-align: center;
}
.inside {
  padding: 5%;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.inside img {
  height: 100px;
}
.inside:hover {
  border: 3px solid #CD6933;
  border-radius: 10px;
}
.step {
  font-weight: 600;
  font-size: 2rem;
}
.description {
  color: gray;
  font-size: 1.5rem;
}
.fourthwindow {
  background-color: #2DB38A;
}
.fourthwindow .fwheader {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}
.reviews {
  background-color: #2DB38A;
  margin-top: -1%;
}
.reviews .fotorama {
  background-color: white;
  margin-bottom: 5%;
  height: 60%;
  padding: 3%;
  border-radius: 30px;
}
.reviews .fotorama .review {
  height: 100%;
}
.reviews .fotorama .review img {
  display: inline-block;
  width: 100%;
  border-radius: 100%;
}
.reviews .fotorama .review p {
  display: inline-block;
  padding-top: 5%;
  font-size: 1.3rem;
  font-weight: 600;
}
.reviews .fotorama .review span {
  display: block;
  float: right;
  font-size: 1.3rem;
}
.fifthwindow .ffwheader {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 1%;
}
.contacts {
  margin-bottom: 3%;
}
.contacts p {
  margin-top: 3%;
  font-size: 1.5rem;
  color: gray;
}
.contacts p span {
  display: block;
  color: black;
  margin-bottom: -3%;
  font-size: 2rem;
  font-weight: 600;
}
.footer {
  background-color: #90001F;
  text-align: center;
}
.footer p {
  display: block;
  margin-top: 2%;
  color: white;
}



/* For page Brands */
.brands_title {
  margin: 30px 0;
}
.brands_brand {
  margin-bottom: 15px;
  padding: 15px;
}
.brands_brand a {
  display: block;
  padding: 15px;
  border: 2px solid #696969;
  border-radius: 10px;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.brands_brand a:hover {
  text-decoration: none;
  background-color: #2DB38A;
}
.brands_brand img {
  margin-bottom: 20px;
}
/* For page Brands */



/* For page Model */

.modelimg {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 15px;
  border: 2px solid #696969;
  border-radius: 10px;
}
.servtitle {
  margin-top: 30px;
}
.serv {
  width: 400px;
  height: 50px;
  display: inline-block;
  margin-bottom: 10px;
  padding:12px;
  background-color: #2DB38A;
  color:white;
  border-radius: 10px;
  transition: all 0.3s;
}
.serv:hover {
  background-color: #CD6933;
  color:white;
  text-decoration: none;
}

/*Modal Window*/
.modal_modal input {
  width: 50%;
  margin: 20px 25%;
}
.serv-confirm {
  display: inline-block;
  margin: 10px;
  padding: 10px 30px 7px 30px;
  background-color: #006748;
  color:white;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
}
.serv-confirm:hover {
  background-color: #2DB38A;
  color:white;
  text-decoration: none;
}
.serv-cancel {
  display: inline-block;
  margin: 10px;
  padding: 10px 30px 7px 30px;
  background-color: #90001F;
  color:white;
  border-radius: 10px;
  transition: all 0.3s;
}
.serv-cancel:hover {
  background-color: #C23251;
  color:white;
  text-decoration: none;
}
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal_modal {
  background: white;
  text-align: center;
  padding: 40px 80px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}
.overlay .modal_modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.overlay .modal_modal.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}
.overlay .modal_modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}
.overlay .modal_modal .title {
  margin-top: 0;
}
/*Modal Window*/

.empty_row {
  height: 100px;
}

/* For page Model */



/*For page About*/

.aboutpage img {
  display:block;
  width: 500px;
  margin: 30px auto;
}

/*For page About*/



/* For page Reviews */

.reviewspage h5{
  color: gray;
}

/* For page Reviews */